
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


 /*<-------------------------Jumbotron End---------------------------------->*/


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/*------------------------profile page end----------------------------*/



/*.value {
  padding: 5px;
  width: 100px;
  margin: 5px;*/
  /*border: solid black 2px;*/
/*}*/


.whole_question_id {
  text-align: center;
}

.whole_question {
  padding: 50px;
  width: 200px;
  margin-bottom: 20px;
  border: solid black 2px;
  margin-left: 60px;
  height: 185px;
  margin-top: 20px;
}

.value_id_positive {
  color: green;
}

.value_id_negative {
  color: red;
}

#title {
  /*text-align: center;*/
}

.reveal_answer_wrong {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.reveal_answer_right {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.category_title {
  font-size: 20px;
  height: 200px;
  margin: auto;
  margin-bottom: 100px;
  /*border: black solid 2px;*/

}

.already_answered {
background-color: gray;
}

.hidden_answer {
  color: black;
  font-size: 20px;
}

.has_id {
  width: 225px;
  height: 145px;
  text-align: center;
  padding: 0px;
}

.launch_button {
  width: 185px;
  height: 100px;
}

#username {
  color: white;
}

#welcome {
  color: white;
}

#contestant_id {
  color: #1A1A1A;
}

#name_form {
 margin-bottom: 20px;
}

#username_form {
 margin-bottom: 20px;
}

#email_form {
 margin-bottom: 20px;
}

#password_form {
 margin-bottom: 20px;
}

.user_answer {
  margin-bottom: 10px;
}

.reveal_answer {
  border: black solid 2px;
}

#signin {
  float: right;
  /*border: black solid 2px;*/
  width: 300px;
  height: 150px;
  padding: 18px 28px;
  font-size: 22px;
  border-radius: 8px;
}

.title{
  text-align: center;
  margin-right: 25px;
}

#modal_category {
  border-bottom: black solid 2px;
  color: black;
  text-align: center;
}

#modal_value {
  /*color: white;*/
}
/*
.invisible_answer {
  color: red;
}*/

textarea {
  text-align: left;
}