
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


 /*<-------------------------Jumbotron End---------------------------------->*/


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/*------------------------profile page end----------------------------*/




/*.value {
  padding: 5px;
  width: 100px;
  margin: 5px;*/
  /*border: solid black 2px;*/
/*}*/


.whole_question_id {
  text-align: center;
}

.whole_question {
  padding: 5px;
  width: 200px;
  margin: 5px;
  border: solid black 2px;
  margin: auto;
  height: 185px;
}

.value_id_positive {
  color: green;
}

.value_id_negative {
  color: red;
}

#title {
  text-align: center;
}

.reveal_answer_wrong {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.reveal_answer_right {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

.category_title {
  font-size: 23px;
  height: 200px;
  text-align: right;
}

.already_answered {
background-color: gray: 50px;
}

.hidden_answer {
  color: white;
}

.has_id {
  width: 200px;
  height: 150px;
  text-align: center;
}

.launch_button {
  width: 185px;
  height: 100px;
}